<a href="https://colab.research.google.com/github/3run0M1guel/PA_2025/blob/main/Float.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
P1 = float (input('digite a nota da prova: '))
P2 = float (input('digite a nota da prova: '))

digite a nota da prova: 8
digite a nota da prova: 9

### ***xd***

In [18]:
média = (P1+P2)/2

### ***xd 2.0***

In [19]:
print ("A nota média dos alunos é" , média)

A nota média dos alunos é 8.5

### **exercício 1**

In [35]:
#entrada

Valor = float (input())
QTED = float (input())

15
13

In [36]:
#processamento

(VT) = (QTED*Valor)

In [37]:
#saída
print ("a quantidade de estoque é" , VT)

a quantidade de estoque é 195.0

### *Sla*

In [44]:
#Entrada
C = float (input())

27

In [45]:
#Processamento
F = (C*9/5) + 32

In [46]:
#saída
print (C , "é igual a" , F)

27.0 é igual a 80.6

### ***xd***

In [92]:
#Entrada
M = float (input())

1

In [93]:
#Processamento
Km = (M*1.60934)

In [94]:
#saída
print ("Milha é igual a", Km)

Milha é igual a 1.60934